<md-sidenav-container fullscreen>
  <md-toolbar color="primary" class="left-shadow">
    <button md-button (click)="sidenav.toggle();onSidenavToogle()" class="menu-margin">
      <md-icon>menu</md-icon>
    </button>
  </md-toolbar>
  <md-tab-group class="left-shadow tabs-toolbar" selected-index="tabSelectedIndex">
    <ng-template [ngIf]="!userService.isLoggedIn()">
      <md-tab label="HGSS Rescue" class="left-shadow">
        <app-home></app-home>
      </md-tab>
    </ng-template>

    <ng-template [ngIf]="userService.isLoggedIn()">
      <md-tab label="Rescue actions">
        <app-rescue-action></app-rescue-action>
      </md-tab>

      <md-tab label="Rescuers">
        <app-rescuers></app-rescuers>
      </md-tab>

      <md-tab label="Maps">
        <app-maps></app-maps>
      </md-tab>
    </ng-template>
  </md-tab-group>

  <md-sidenav #sidenav mode="side" opened="false" class="right-shadow">
    <md-toolbar class="white-background sidenav-toolbar">
      <div id="sidenav-toolbar-rows--hidden"></div>
      <md-toolbar-row class="sidenav-toolbar-rows--first">
        <div class="sidenav-logo">

        </div>
      </md-toolbar-row>


      <md-toolbar-row class="sidenav-toolbar-rows" (click)="goToHGSS()">
        <md-icon>help</md-icon>
        &nbsp;
        HGSS page
      </md-toolbar-row>

      <md-toolbar-row class="sidenav-border" [ngClass]="{'sidenav-hidden': userService.isLoggedIn()}"></md-toolbar-row>


      <md-toolbar-row class="sidenav-toolbar-rows" (click)="openLoginDialog()" [ngClass]="{'sidenav-hidden': userService.isLoggedIn()}">
        <md-icon *ngIf="!userService.isLoggedIn()">people</md-icon>&nbsp; {{loginLabel()}}
      </md-toolbar-row>

      <md-toolbar-row class="sidenav-border" [ngClass]="{'sidenav-hidden': !userService.isLoggedIn()}"></md-toolbar-row>

      <md-toolbar-row class="sidenav-toolbar-rows" (click)="userService.logout()" [ngClass]="{'sidenav-hidden': !userService.isLoggedIn()}">
        <md-icon *ngIf="userService.isLoggedIn()">input</md-icon>&nbsp; {{logoutLabel()}}
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>

</md-sidenav-container>
