.code-book-grid {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-auto-rows: 20px 1fr 10px;
  width: 100%;
}
.code-book-left {
  grid-column: 1;
  grid-row: 2;
}
.code-book-right {
  grid-column: 3;
  grid-row: 2;
}

.code-book-chip {
  margin: 10px !important;
}

.grid-border{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 3;
  border-bottom: 1px solid lightgrey;
}

.grid-bottom-left{
  grid-column: 1;
  grid-row: 2;
}


.grid-bottom-right{
  grid-column: 3;
  grid-row: 2;
}
