.rescue-action-card {
  width: 500px;
  margin: 30px auto 0;
}

.hgss-header-image {
  background-image: url('../../img/hgss.png');
  background-size: cover;
}

.rescue-action-map {
  width: 548px;
  height: 400px;
  margin-left: -24px;
  margin-right: -24px;
}

.map-actions-card-content {
  margin-top: 20px;
}

.add-rescue-action-container-top{
  position: absolute;
  width: 100vh;
}

.add-rescue-action-container {
  position: relative;
  width: 548px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}

.maps-image {
  width: 548px;
  height: 300px;
  margin-right: -24px;
  margin-left: -24px;
  background: {
    size: cover;
    position: 50%;
    image: url("../../img/maps.png");
  }
}
