<h1 md-dialog-title class="accent-color">Edit rescuer</h1>
<md-dialog-content class="primary-color rescuer-dialog">
  <div class="rescuer-image rescuer-image-{{index+1}}"></div>
  <form class="full-width rescuer-dialog-form">
    <md-input-container class="full-width">
      <input mdInput placeholder="Name" [(ngModel)]="user.ime" name="name">
    </md-input-container>
    <br>
    <md-input-container class="full-width">
      <input mdInput placeholder="Surname" [(ngModel)]="user.prezime" name="surname">
    </md-input-container>
    <br>
    <md-input-container class="full-width">
      <input mdInput placeholder="Username" [(ngModel)]="user.username" name="username">
    </md-input-container>
    <br>
    <md-input-container class="full-width">
      <input mdInput placeholder="Email" [(ngModel)]="user.email" name="email">
    </md-input-container>
    <br>
    <md-input-container class="full-width">
      <input mdInput placeholder="Location" [(ngModel)]="user.adresa" name="location">
    </md-input-container>
    <br>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button color="accent" (click)="edit()">Edit</button>
  <button md-button color="primary" (click)="close()" md-dialog-close class="left-button">Cancel</button>
</md-dialog-actions>
